{% extends 'layout.html.twig' %}
{% block main %}

    <h1 class="home">Bienvenue !</h1><br>

    <h2>Formulaire de connexion ! ✅</h2>
    <div class="divForm"><form action="{{ path('home') }}" class="formLogin"  method="post">
            <div class="lblName"><label  for="username">prénom : </label></div>
            <div class="inputName"> <input type="text" name="_username" id="username"></div></br>

            <div class="lblPassword"><label for="password">Password : </label></div>
            <div class="inputPassword"><input  type="password" name="_password" id="password"></div></br>

            <button class="btnLogin" type="submit">login</button>

        </form></div>
{% endblock %}