{% extends 'layout.html.twig' %}
{% block main %}

    <h1 class="home">Bienvenue !</h1><br>

    <div class="titreLog"><h2>Formulaire de connexion ! ✅</h2></div>
    <div class="divForm"><form class="formLogin"  method="post">
            <div class="lblName"><label  for="mail">Mail : </label></div>
            <div class="inputName"> <input type="text" name="_username" id="mail"></div></br>

            <div class="lblPassword"><label for="motDePasse">Password : </label></div>
            <div class="inputPassword"><input  type="password" name="_password" id="motDePasse"></div></br>

            <button class="btnLogin" type="submit">login</button><br>
            <input type="checkbox" id="remember_me" name="_remember_me" checked/>
            <label for="remember_me">Keep me logged in</label>

        </form></div>
{% endblock %}