<nav>
    <ul>
        <li><a href="{{ path('login') }}">Accueil</a> </li>
        <li><a href="{{ path('Profil') }}">Mon profil</a></li>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li><a href="{{ path('logout') }}">Deconnexion</a> </li>
        {% else %}
        <li><a href="{{ path('login') }}">Connexion</a> </li>
        {% endif %}
    </ul>
</nav>
